.form__group {
  position: relative;
  width: 100%;
  padding-top: 16px;
  margin-bottom: 16px;
}

.form__group .animated__label {
  position: absolute;
  top: 24px;
  left: 4px;
  bottom: 0;
  z-index: 2;
  width: 100%;
  font-weight: 300;
  opacity: 0.5;
  cursor: text;
  transition: 0.2s ease all;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

}

.form__group .animated__label:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 45%;
  height: 2px;
  width: 10px;
  visibility: hidden;
  background-color: var(--green-lime);
  transition: 0.2s ease all;
}

.form__group.not__empty .animated__label {
  top: 0;
  font-size: 12px;
  left: 0;
}

.form__group .form__control {
  width: 100%;
  position: relative;
  z-index: 1;
  border-radius: 0;
  border-width: 0 0 1px;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  height: auto;
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
}

.form__group .form__control:focus {
  box-shadow: none;
  border-bottom-color: rgba(0, 0, 0, 0.12);

}

.form__group .form__control:focus ~ .animated__label {
  top: 0;
  left: 0;
  opacity: 1;
  color: var(--green-lime);
  font-size: 12px;
  z-index: 0;
}

.form__group .form__control:focus ~ .animated__label:after {
  visibility: visible;
  width: 100%;
  left: 0;
}