@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  /* colors */
  --green-dark: #1C3F27;
  --green-light: #E4F0D9;
  --green-lime: #59B241;
  --white: #FBFAFB;
  --blue: #0376E2;
  --purple: #41197f;
  --black: #1A1B1C;
  --gray: #1F2631;
  --red-light: #f8d7da;
  --red-dark: #dc3545;

  /* box shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -2px rgba(0, 0, 0, 0.08);

  --borderRadius: 0.25rem;
  --transition: 0.3s ease-in-out all;
  --letterSpacing: 1px;
}

body{
  font-family: 'Roboto';
}
/* buttons */
button {
  cursor: pointer;
  font-size: 1rem;
  color: var(--white);
  background: var(--blue);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.5rem;
  box-shadow: var(--shadow-1);
  text-transform: capitalize;
  display: inline-block;
  margin-right: 1rem;
}
button:hover {
  filter: brightness(110%);
  box-shadow: var(--shadow-2);
}

button:active {
  box-shadow: var(--shadow-3);
}

button:disabled {
  opacity: 0.5;
  cursor: wait;
}

.container {
  display: flex;
  height: 100vh;
}

@media (max-width: 640px) {
  .container  {
    flex-direction: column;
  }

  .container  > * {
    width: 100%;
    max-width: 100%;
  }
}